* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

header {
    background-image: url("../img/header.png");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    padding: 24px;
    

}

header div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    flex-wrap: wrap;
    margin-bottom: 36px;
}

header h1 {
    font-family: "Luckiest Guy", cursive;
    font-size: 2rem;
    color: #ffffff;
    font-weight: 400;
    margin-top: 70px;
}

header p {
    font-size: 1rem;
    color: #ffffff;
}

.header__button {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.header__button button {
    font-size: 1rem;
    color: #000000;
    text-align: center;
    padding: 1rem;
    border-radius: 28px;
    border: none;
    background-color: #ffffff;
}

.header__button button:nth-child(2) {
    background-color: #000000;
    color: #ffffff;
}

main {
    display: flex;
    flex-direction: column;
    
}


main img {
    width: 100%;
}

main h2 {
    font-size: 24px;
    margin-bottom: 27px;
    font-weight: 800;
}

.main__section-1, .main__section-2, .main__section-3, .main__section-4 {
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding: 40px 25px;
    
}

.main__section-4 h2 {
    font-family: "Luckiest Guy", cursive;
    font-size: 2rem;
    font-weight: 400;
}


.main__section-2, .main__section-4 {
    background-color: #f0f0f0;
}

footer {
    height: 140px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (min-width: 768px) {

    header div {
        max-width: 757px;
        margin: 0 auto 36px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .header__button {
        flex-direction: row;
    }

    main {
        width: 100%;
        margin: auto;
    }
    
    .main__section-1 div, .main__section-2 div, .main__section-3 div {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        max-width: 971px;
        margin: auto;

        h2 {
            font-size: 40px;
        }

    }

    .main__section-2 div {
        flex-direction: row-reverse;
    }

    .main__section-1 div:nth-child(2), .main__section-2 div:nth-child(2), .main__section-3 div:nth-child(2) {
        display: flex;
        flex-direction: column;
        max-width: 351px;
    }
    
    .main__section-4 div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        text-align: center;
        padding: 40px;
        max-width: 900px;

        margin: auto;

        h2 {
            font-size: 40px;
            padding: 0 100px;
            text-align: center;
        }
    }

    .main__section-4 img {
        height: 508px;
        width: 784px;
    }

}

